{% extends "base.html" %}
{% load thumbnail %}
{% block title %}People{% endblock %}
{% block content %}
  <h1>Shops</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <div class="img-user">
        <a href="{{ user.get_absolute_url }}">
          <img src="{% thumbnail user.profile.photo 180x180 %}">
        </a>
        </div>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
              {{ user.address }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}