{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-rZ5HAYBhpzHM1YzTNZE+/U9LQcmrNx7bjs0QbupVdlI6MzllO6MCIaRA2MPxX8QFb" crossorigin="anonymous">
</head>
<body>
  <div id="header">
    <span class="logo">TreasureTrove</span>
      {% if request.user.is_authenticated %}
          <ul class="menu">
            <li {% if section == "shop" %}class="selected"{% endif %}>
              <a href="{% url "shop" %}">My shop</a>
            </li>
            <li {% if section == "marketplace" %}class="selected"{% endif %}>
              <a href="marketplace">Marketplace</a>
            </li>
            <li {% if section == "people" %}class="selected"{% endif %}>
              <a href="#">People</a>
            </li>
            <li {% if section == "settings" %}class="selected"{% endif %}>
              <a href="{% url "settings" %}">Settings</a>
            </li>
      </ul>
    {% endif %}
      <span class="user">
          {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <a href="{% url "logout" %}">Logout</a>
          {% else %}
            <a href="{% url "login" %}">Log-in</a>
          {% endif %}
          </span>
        <div class="cart">Your cart is empty.</div>
      <span class="bell-icon">&#128276;</span>
  </div>
   {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
          <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
    {% block content %}
    {% endblock %}
  <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
  <script>
    const csrftoken = Cookies.get('csrftoken');
    document.addEventListener('DOMContentLoaded', (event) => {
      // DOM loaded
      {% block domready %}
      {% endblock %}
    })
  </script>
</body>
</html>